{% extends 'main.html' %} {% block content %} {% load static %}
<div class="container col-12 rounded div-painel text-center">
    <h class="h1">VENDAS POR VENDEDOR</h>
    <div class="col-12 border rounded border-info" style="height:400px;">
        <div class="col-12 border rounded border-primary form-group" style="height:40px;">
            <form action="#" method="post">
                {% csrf_token %}
                <h4 class="float-left">VENDEDOR</h4>
                <select name="codigorca" style="margin-left: 15px;" class="form-control col-2 float-left font-weight-bold" id="vendedor ">
                    {% for vendedor in vendedores  %}
                    <option value="{{vendedor.codigo}}" class="font-weight-bold">{{vendedor.codigo}} - {{vendedor.nome}}</option>
                    {% endfor %}
                </select>
                <h4 class="float-left" style="margin-left: 15px;">ENTRE</h4>
                <input class="form-control col-2 float-left" name="data_inicial" id="data_inicial" style="margin-left: 15px;" type="date" required>
                <h4 class="float-left" style="margin-left: 15px;">E</h4>
                <input class="form-control col-2 float-left" name="data_final" id="data_final" style="margin-left: 15px;" type="date" required>
                <h4 class="float-left" style="margin-left: 15px;">AGRUPAR POR</h4>
                <select id="agrupar" required name="agrupar" style="margin-left: 15px;" class="form-control col-1 float-left font-weight-bold" id="vendedor ">
                    <option disabled selected value>escolha</option>
                    <option value="mes" class="font-weight-bold">MES</option>
                    <option value="dia" class="font-weight-bold">DIA</option>
                </select>
                <button hidden id="buscar_vendas"></button>
            </form>
        </div>
        <div id="grafico_venda_por_vendedor_por_periodo"></div>
        <input type="text" hidden id="agrupamento" value="{{agrupamento}}">
        <input type="text" hidden id="codigorca" value="{{codigorca}}">
        <input type="text" hidden id="valores" value="{{valores}}">
    </div>
</div>
<script src="{% static 'app/js/relatorios/vendas_por_vendedor/vendas_por_vendedor.js' %} "></script>
{% endblock %}